In [5]:
import pandas as pd
df = pd.read_csv('red_30_tech_us_sales.csv')

In [7]:
grouped_df = df.groupby('EmpID ')['Quantity'].sum()
print(grouped_df)

EmpID
900010405    1473
900010430    1508
900010813     722
900010836    1391
900010875    1213
900011056     887
900011189    1339
900011678    1108
900012180     913
900012258     628
900012260     402
900012297     500
900012326    1298
900012483    1437
900012723    2497
900012972    1800
900013387    1642
900013587     618
900013598     953
900013626    2584
900014032    1068
900014598    2311
900014980    1362
900015082    1887
900015476     738
900015673     904
900015938    2664
900016088    1431
900016297    1284
900016392     613
900016416    2050
900016602    1238
900017044     769
900017930     459
900018190    2223
900018460    1652
900018661    1941
900018689    1298
900018996    1205
900019250     392
900019311     704
900019833     872
900019884     628
900019978     665
Name: Quantity, dtype: int64

In [8]:
sorted_quantity = grouped_df.sort_values(ascending=False)
print(sorted_quantity)

EmpID
900015938    2664
900013626    2584
900012723    2497
900014598    2311
900018190    2223
900016416    2050
900018661    1941
900015082    1887
900012972    1800
900018460    1652
900013387    1642
900010430    1508
900010405    1473
900012483    1437
900016088    1431
900010836    1391
900014980    1362
900011189    1339
900012326    1298
900018689    1298
900016297    1284
900016602    1238
900010875    1213
900018996    1205
900011678    1108
900014032    1068
900013598     953
900012180     913
900015673     904
900011056     887
900019833     872
900017044     769
900015476     738
900010813     722
900019311     704
900019978     665
900012258     628
900019884     628
900013587     618
900016392     613
900012297     500
900017930     459
900012260     402
900019250     392
Name: Quantity, dtype: int64

In [9]:
top_employees = grouped_df.nlargest(10)
print(top_employees)

EmpID
900015938    2664
900013626    2584
900012723    2497
900014598    2311
900018190    2223
900016416    2050
900018661    1941
900015082    1887
900012972    1800
900018460    1652
Name: Quantity, dtype: int64

In [10]:
top_employees = grouped_df.nsmallest(10)
print(top_employees)

EmpID
900019250    392
900012260    402
900017930    459
900012297    500
900016392    613
900013587    618
900012258    628
900019884    628
900019978    665
900019311    704
Name: Quantity, dtype: int64